.f-row-jc-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.avatar-button {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
}

.margin-for-avatars {
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
}

.full-width {
  width: 100%;
}

.m-b-30 {
  margin-bottom: 30px;
}

.contained-width {
  width: 70% !important;
  margin-left: 15% !important;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.profile-avatar-card {
  border: 5px solid #444155;
  border-radius: 50%;
  margin: 0 5%;
  color: white;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.f-row {
  display: flex !important;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.avatar-section-header {
  font-size: 32px;
  font-weight: 600;
}
