
.for-you-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    padding: 2% 1%;
    height: max-content;
    width: 96%;
}
.for-you-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
}
.for-you-section-header{
    font-size: 28px;
    font-weight: 600;
}

.search-section {
    width: 50%;
    display: flex;
    align-self: center;
}

.user-card-small {
    margin-right: 2.5%;
}

.align-icon-text {
    display: flex;
    justify-content: start;
}
