
.game-card-for-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #13112D;
    padding: 4%;
    border: 1px solid #444155;
    border-radius: 10px;
    color: white;
    margin-top: 2%
}

.game-img{
    width: 100%;
    /*height: 50%;*/
}

.game-details-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.game-details-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 96%;
    height:40%;
    margin:2%
}

.game-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    height: 100%;
    padding-right:2%;
}

.game-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    /*height: 100%;*/
    background: #13112D;
    margin-right: 5%;
    padding: 2%;
    border: 1px solid #444155;
    border-radius: 25px;
}

.game-card-title{
    margin-top: 2%;
    font-size: 24px;
    font-weight: 600;
}

.game-card-text{
    font-size: 16px;
    font-weight: 400;
}

.game-genres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.game-title{
    font-size: 36px;
    font-weight: 600;
    white-space: nowrap;
}

.game-category{
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 10px;
}

.game-review-section-header{
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 10px;
}

.game-description {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

.game-review-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    height: 60%;
    margin: 2%
}

.game-review-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%
}

.game-review-card-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.no-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#no-reviews-text{
    font-size: 20px;
    font-weight: 500;
}
