
.game-card-for-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #13112D;
    padding: 4%;
    border: 1px solid #444155;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    height: 365px;
}

.game-card-whole-for-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #13112D;
    padding: 4%;
    border: 1px solid #444155;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    height: auto;
}

.game-card-for-list-small{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #13112D;
    padding: 4%;
    border: 1px solid #444155;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    height: auto;
}

.game-img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.game-img-small{
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.search-game-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 2%;
    width: 90%;
}

.game-details-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.game-details-section{
    width: 96%;
    margin:2%
}

.game-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding-right: 2%;
    margin-bottom: 2%;
}

.game-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #13112D;
    margin-right: 5%;
    padding: 2% !important;
    border: 1px solid #444155;
    border-radius: 25px;
}
.game-card-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.game-card-details-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    text-align: start;
}
.game-card-whole-details-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: start;
}
.game-card-details-extra{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2%;
    gap: 2px;
    align-items: center;
    width: 30%;
}
.game-card-details-extra-text{
    font-size: 16px;
    font-weight: 600; /* bold */
}
.game-card-details-extra-number{
    font-size: 26px;
    font-weight: 700; /* bold */
}
.game-card-details-extra-minor {
    font-size: 16px;
    font-weight: 400; /* regular */
}
.game-card-title{
    margin-top: 2%;
    font-size: 24px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.game-card-text{
    font-size: 14px;
    font-weight: 400;
}

.game-genres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
}

.game-title{
    font-size: 36px;
    font-weight: 600;
    white-space: wrap;
}

.game-genre{
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 10px;
}
.no-a-decoration{
    color:white;
    text-decoration: none;
}

.game-review-section-header{
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 10px;
}

.game-description {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

.game-review-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    height: 40%;
    margin: 2%
}
.statistics-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
    margin: 2%
}
.statistics-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
}
.game-statistics-width{
    width: 350px;
    height: 115px;
}
.game-statistics-header{
    color: white;
    font-size: 18px;
    font-weight: 600; /* semibold */
    margin-bottom: 2px;
}
.game-statistics-number{
    font-size: 24px;
    font-weight: 700; /* bold */
}
.game-statistics-number-minor {
    font-size: 18px;
    font-weight: 400; /* regular */
}
.game-statistics-text{
    font-size: 24px;
    font-weight: 700; /* bold */
}
.game-review-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%
}

.game-review-card-list {
    width: 100%;
}
.no-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#no-reviews-text{
    font-size: 20px;
    font-weight: 500;
}

.form-btns {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

#btn-accept {
    background-color: #00C853 !important;
}

#btn-reject {
    background-color: #d61025 !important;
}
