
body {
    background: #070A18;
    color: white;
}

nav {
    background-color: #35325e;
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}

.navbar-logo-image {
    width: 50px;
}

.navbar-logo-title {
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4%;
}

.card {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 10px;
    overflow-wrap: anywhere;
    word-wrap: anywhere;
}

.divider-h {
    border-top: 1px solid #444155;
    position: relative;
    left: 2.5%;
    width: 95%;
}

.divider-v {
    border-left: 1px solid #444155;
    position: relative;
    top: 2.5%;
    height: 95%;
}

.chip {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    padding: 2px 8px;
    white-space: nowrap;
}

.chip-small {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    white-space: nowrap;
}

.chip-small-inverted {
    background: #DDD7FF;
    color: #13112D;
    border: 1px solid #444155;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

.error {
    color: red;
}