/** {*/
/*    border: 1px dotted rgba(255, 0, 0, 0.3);*/
/*}*/

body {
    background: #070A18;
    color: white;
}

nav {
    background-color: #35325e;
    white-space: nowrap;
}

.btn, .btn-floating, .btn-large {
    background-color: #D84315 !important;
}

.profile-dropdown {
    color: white !important;
    background-color: #13112D;
}

.profile-dropdown-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white !important;;
}

.dropdown-content li:hover {
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}

.navbar-logo-image {
    width: 50px;
}

.navbar-logo-title {
    font-size: 40px;
    font-weight: 700;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4%;
}
.button-color{
    background: #070A18; !important;
    color: white
}

.search-field{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #444155;
    background: #13112D;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}
.card {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 10px;
    overflow-wrap: anywhere;
    word-wrap: anywhere;
}

.divider-h {
    border-top: 1px solid #444155;
    position: relative;
    left: 2.5%;
    width: 95%;
}

.divider-v {
    border-left: 1px solid #444155;
    position: relative;
    top: 2.5%;
    height: 95%;
}

.chip {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 8px;
    white-space: nowrap;
}

.chip-small {
    background: #13112D;
    border: 1px solid #444155;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    white-space: nowrap;
}

.chip-small-inverted {
    background: #DDD7FF;
    color: #13112D;
    border: 1px solid #444155;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    white-space: nowrap;
}
.btn-floating-color{
    background: #13112D;
    border: 1px solid #444155;
}
.btn-floating-color:hover{
    background: #13112D;
    border: 1px solid #444155;
}

* {
    box-sizing: border-box;
}

.error {
    color: red;
}

.chosen-tab {
    font-weight: bolder;
    background-color: rgba(0,0,0,0.1);
}

.pagination-active{
    background-color: #DDD7FF;
    color: #13112D;
    border-radius: 5px;
}

.middle-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-general {
    box-sizing: border-box !important;
    padding: 2px !important;
    color: white !important;
    background-color: #13112D !important;
}

.input-general ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
}

.input-general :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

.input-general ::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.review-content-input {
    height: 250px !important;
}