
body {
    background: #191716;
    color: white;
}


.chip {
    background: #13112D;
}

.chip-small {
    background: #13112D;
}

.chip-small-inverted {
    background: #DDD7FF;
    color: #13112D;
}

* {
    box-sizing: border-box;
}