.progress-fontsize {
    font-size: 20px;
}

.level-container {
    font-size: 3em;
    border: 1px solid #444155;
    border-radius: 4px;
    box-shadow: 3px 3px 8px 6px rgb(0 0 0 / 0.4);
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mission-card {
    position: relative;
}

.mission-card-container {
}

.mission-data {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mission-chip {
    background: #DDD7FF;
    color: #13112D;
    border: 1px solid #444155;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    padding: 2px 6px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-progress {
    height: 25px !important;
}