.profile-info-panel {
    height: auto;
    margin: 2% 0;
}

.profile-info-panel-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 5%;
}

.profile-info-panel-info {
    height: 100%;
    gap: 3%;
}

.profile-user-name {
    font-size: 48px !important;
    font-weight: bold;
}

.profile-preferences {
    display: flex;
    align-items: baseline;
    font-size: 16px;
}

.profile-preferences-list {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-followers {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.profile-followers-text-divider {
    margin: 0 6px;
}

.profile-favorite-games-panel {
    padding: 0 5%;
}

.profile-favorite-games-panel-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profile-favorite-game {
    width: 32%;
}

.profile-reviews-panel {
    padding: 0 5%;
}

.profile-reviews-count {
    font-weight: 300;
}

.margin-for-genres {
    margin-top: 6px;
}

.settings-option {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px !important;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.avatar-section-header {
    font-size: 32px;
    font-weight: 600;
}

.profile-avatar-card {
    border: 5px solid #444155;
    border-radius: 50%;
    margin: 0 5%;
    color: white;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.avatar-button {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}
