
.profile-card {
    width: 420px;
    height: 96px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 3px 3px 8px 6px rgb(0 0 0 / 0.4);
}

.profile-card-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-card-username {
    font-size: 22px;
    font-weight: 600;
}

.profile-card-preferences-icon {
    font-size: 15px;
    color: #dbd5fd;
}

.profile-card-preferences {
    margin-top: -5px;
    font-size: 14px;
}