
.left-panel {
    width: 25%;
    background-color: #070A18 !important;
}

.right-panel {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider-h {
    border-top: 1px solid #444155;
    position: relative;
    left: 0 !important;
    width: 100% !important;
}

.review-list-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 1%;
    width: 100%;
    height: max-content;
}

.review-card-list {
    padding: 1%;
    width: 95%;
    height: fit-content;
}

.review-card-container {
    min-height: 320px;
}

.review-card-container-small {
    min-height: 240px;
}

.review-card {
    height: fit-content;
}

.review-card-header-title {
    padding: 2% 4% 0 4%;
}

.review-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 2% 4%;
}

.review-card-header-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;

}

.review-card-header-end {
    width: 35%;
}

.review-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 4%;
    min-height: 50px;
}

.review-card-footer {
    display: flex;
    flex-direction: row;
    padding: 3% 4%;
    min-height: 60px;
}

.review-card-footer-info {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    width: 65%;
    margin-left: 4%;
}

.review-card-feedback-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    font-size: 14px;
    gap: 6%;
    width: 40%;
    padding-top: 2%;
}

#popularity-icon {
    font-size: 14px;
}

.review-card-author-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    width: 55%;
}
.review-card-preferences-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    width: 100%;
}

.review-card-feedback-footer-big{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
    gap: 2%;
    padding: 1em 1em 0 1em;
}

#review-popularity-tag {
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
}

#review-popularity-value {
    font-size: 16px;
    font-weight: 700;
}

.like-dislike-buttons {
    font-size: 20px !important;
}

#review-card-game-title {
    color: white;
    font-size: 18px;
    font-weight: 600; /* semibold */
    white-space: nowrap;
    margin-bottom: 2px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#review-card-score {
    font-size: 40px;
    font-weight: 700; /* bold */
    white-space: nowrap;
}

#review-card-score-outof {
    font-size: 16px;
    font-weight: 400; /* regular */
    margin-right: 4px;
    white-space: nowrap;
}

#review-card-star {
    font-size: 20px;
}

#review-card-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 4px 0;
}

#review-card-content {
    font-size: 14px;
    font-weight: 400;
}

#review-time-played {
    font-size: 11px;
    font-weight: 300; /* light */
}

#review-card-date {
    font-size: 11px;
    font-weight: 300; /* light */
}

#review-card-bottom-text {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 3%;
}

#review-card-author {
    color: darkgray;
    font-size: 14px;
    font-weight: 500; /*medium*/
    text-decoration: underline;
}

.author-hover:hover {
    cursor: default;
}

.profile-card-on-hover {
    position: absolute;
    display: none;
    z-index: 8;
    top: 60px;
    left: 0;
}

#author-profile-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 5%;
}

#game-image {
    width: 96px;
    height: 48px;
    object-fit: cover;
}

#review-card-preferences{
    font-size: 15px;
    color: #dbd5fd;
}

.review-filters-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.review-filters-panel-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
    width: 100%;
}

.apply-filters-panel {
    background: #13112D;
    border: 1px solid #444155;
    padding: 8px;
    z-index: 10;
}

.review-filters-panel-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 6%
}

.review-filters-panel-subtitle {
    font-size: 14px;
    font-weight: 700;
}

.remove-filter-button {
    display: flex;
    gap: 4px;
    margin: 6px 0 0 0;
}

.review-filters-collapsible-button {
    margin-right: 24px;
    width: 100%;
}

#filter-panel-divider {
    top: 0.5%;
    height: 99%;
}

.filters-container {
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.filters-header {
    color: white !important;
    background-color: #D84315 !important;
    width: 100%;
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
}

.review-game-length {
    padding: 5px;
}

.review-tags-panel {
    margin-top: 5px;
}

.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #13112D;
}
