
.left-panel {
    width: 30%;
}

.right-panel {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider-h {
    border-top: 1px solid #444155;
    position: relative;
    left: 0 !important;
    width: 100% !important;
}

.review-list-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 1%;
    width: 100%;
    height: max-content;
}

.review-card-list {
    padding: 1%;
    width: 95%;
    height: fit-content;
}

.review-card {
    height: fit-content;
}

.review-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
}

.review-card-header-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    width: 65%;
}

.review-card-header-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 35%;
}

.review-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 4%;
}

.review-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 4%;
}

.review-card-feedback-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 12px;
    gap: 12%;
    width: 50%;
}

.review-card-feedback-footer-big{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 14px;
    gap: 2%;
}

.like-dislike-buttons {
    font-size: 16px !important;
}

#review-card-game-title {
    color: white;
    font-size: 24px;
    font-weight: 600; /* semibold */
    white-space: nowrap;
    margin-bottom: 2px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#review-card-score {
    font-size: 40px;
    font-weight: 700; /* bold */
    white-space: nowrap;
}

#review-card-score-outof {
    font-size: 16px;
    font-weight: 400; /* regular */
    margin-right: 4px;
    white-space: nowrap;
}

#review-card-star {
    font-size: 20px;
}

#review-card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 4px 0;
}

#review-card-content {
    font-size: 14px;
    font-weight: 400;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#review-card-date {
    font-size: 11px;
    font-weight: 300; /* light */
    align-self: flex-end;
}

#review-card-bottom-text {
    font-size: 12px;
    font-weight: 300;
}

#review-card-author {
    font-size: 14px;
    font-weight: 500; /*medium*/
}

.review-filters-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.review-filters-panel-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
    width: 100%;
}

.review-filters-panel-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 6%
}

.review-filters-panel-subtitle {
    font-size: 14px;
    font-weight: 700;
}

.remove-filter-button {
    display: flex;
    gap: 4px;
    margin: 6px 0;
}

.review-filters-collapsible-button {
    margin-right: 24px;
}

#filter-panel-divider {
    top: 0.5%;
    height: 99%;
}

.filters-container {
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.filters-header {
    color: white !important;
    background-color: #D84315;
}

.review-game-length {
    padding: 5px;
}

.review-tags-panel {
    margin-top: 5px;
}

