.search-result-background {
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-game-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-result-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
}

.search-result-container-text {
    display: flex;
    flex-direction: column;
}

.search-results-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}