<ng-container *ngIf="games$ | async as games; else loading">
  <div class="all-container">
    <h3>{{ 'review.form.searchgame' | translate }}</h3>
    <div>
      <app-search-bar
        (search)="setSearch($event)"
        (submit)="submitSearch()"
        [label]="'games.search.title' | translate"
        [value]="search.value!"></app-search-bar>
    </div>
    <div
      class="games-container"
      *ngIf="(loadingGames$ | async) !== true; else loading2">
      <ng-container *ngFor="let game of games.content">
        <div
          class="game-card-container"
          routerLink="/reviews/submit/{{ game.id }}">
          <app-game-card [game]="game" [nolink]="true"></app-game-card>
        </div>
      </ng-container>
      <ng-container *ngIf="games.content.length === 0">
        <div class="no-results">
          <mat-icon class="icon">sentiment_dissatisfied</mat-icon>
          <span>{{ 'no-results' | translate }}</span>
        </div>
      </ng-container>
    </div>
    <ng-template #loading2>
      <app-loading-spinner />
    </ng-template>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-spinner />
</ng-template>
