<div class="top-container f-column">

    <span class="titletext" i18n>{{ 'settings.title' | translate }}</span>

    <div class="divider-h"></div>
    <div class="f-column">
        <div class="full-width settings-option" routerLink="genres">
            <!--<a href="<c:url value="/profile/settings/preferences"/>" class="full-width no-a-decoration waves-effect waves-light border-button f-row f-jc-start f-ai-center f-gap-2">-->
            <i class="material-icons medium">sports_esports</i>
            <span i18n>{{ 'settings.fav-genres' | translate}}</span>
            <!--</a>-->
        </div>
        <div class="full-width settings-option" routerLink="notifications">
            <!--<a href="<c:url value="/profile/settings/notifications"/>" class="full-width no-a-decoration waves-effect waves-light border-button f-row f-jc-start f-ai-center f-gap-2">-->
            <i class="material-icons medium">notifications</i>
            <span i18n>{{ 'settings.notifications' | translate}}</span>
            <!--</a>-->
        </div>
        <div class="full-width settings-option" routerLink="avatar">
            <!--<a href="<c:url value="/profile/settings/avatar"/>" class="full-width no-a-decoration waves-effect waves-light border-button f-row f-jc-start f-ai-center f-gap-2">-->
            <i class="material-icons medium">account_circle</i>
            <span i18n>{{ 'settings.avatar' | translate}}</span>
            <!--</a>-->
        </div>
        <div class="full-width settings-option" routerLink="favgames">
            <!--<a href="<c:url value="/profile/settings/favgames"/>" class="full-width no-a-decoration waves-effect waves-light border-button f-row f-jc-start f-ai-center f-gap-2">-->
            <i class="material-icons medium">videogame_asset</i>
            <span i18n>{{ 'settings.fav-games' | translate}}</span>
            <!--</a>-->
        </div>
    </div>
</div>
