<div class="top-container f-column">
  <span class="titletext" i18n>{{ 'settings.title' | translate }}</span>

  <div class="divider-h"></div>
  <div class="f-column">
    <div class="full-width settings-option" routerLink="genres">
      <i class="material-icons medium">sports_esports</i>
      <span i18n>{{ 'settings.fav-genres' | translate }}</span>
    </div>
    <div class="full-width settings-option" routerLink="notifications">
      <i class="material-icons medium">notifications</i>
      <span i18n>{{ 'settings.notifications' | translate }}</span>
    </div>
    <div class="full-width settings-option" routerLink="avatar">
      <i class="material-icons medium">account_circle</i>
      <span i18n>{{ 'settings.avatar' | translate }}</span>
    </div>
    <div class="full-width settings-option" routerLink="favgames">
      <i class="material-icons medium">videogame_asset</i>
      <span i18n>{{ 'settings.fav-games' | translate }}</span>
    </div>
  </div>
</div>
