<div>
  <ng-container *ngIf="(user$ | async) as user; else loading" >
    <mat-grid-list cols="2">
      <app-user-details [userInfo]="user"></app-user-details>
    </mat-grid-list>
  </ng-container>

  <div class="divider-h"></div>
  <div class="second-part">
    <span class="titletext" i18n>{{ 'profile.favgames'|translate }}</span>
    <ng-container *ngIf="(favgames$ | async) as games; else loading2" >
      <mat-grid-list cols="3" class="m-t">
        <mat-grid-tile *ngFor="let game of games.content" [colspan]="1">
          <app-game-card [game]="game" [small]="true"></app-game-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
  </div>

  <div class="divider-h no-margin-top"></div>
  <div class="second-part">
    <span class="titletext" i18n>{{ 'profile.reviews'|translate }}</span>
    <mat-grid-list
      *ngIf="(reviewsbyuser$ | async) as reviews; else loading3"
      cols="2"
      gutterSize="20px"
      rowHeight="300px"
      style="display: flex;"
    >
      <mat-grid-tile *ngFor="let review of reviews.content" colspan="1" rowspan="1" style="">
        <app-review-card [review]="review" style="width: 100%"></app-review-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #loading >
    <mat-spinner mode="indeterminate"></mat-spinner>
  </ng-template>
  <ng-template #loading2>
    <mat-spinner mode="indeterminate"></mat-spinner>
  </ng-template>
  <ng-template #loading3>
    <mat-spinner mode="indeterminate"></mat-spinner>
  </ng-template>
</div>
