<mat-card class="card-container">
  <mat-card-header class="card-header">{{'login-form.login-header' | translate }}</mat-card-header>
  <mat-card-content class="input-container">
    <form class="text-fields">
      <mat-form-field>
        <input [formControl]="email" matInput name="email" placeholder="Email" type="email"/>
        <mat-error *ngIf="errorMessage !== null"></mat-error>
        <mat-error *ngIf="email.invalid && email.touched">
          <ng-container *ngIf="email.errors?.['required']">
            {{ 'login-form.email-required' | translate }}
          </ng-container>
          <ng-container *ngIf="email.errors?.['email']">
            {{ 'login-form.email-invalid' | translate }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [formControl]="password" matInput name="password" placeholder="Password" type="password"/>
        <mat-error *ngIf="password.invalid && password.touched">
          <ng-container *ngIf="password.errors?.['required']">
            {{ 'login-form.password-required' | translate }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </form>

    <mat-error [style.display]="errorMessage !== null ? 'flex' : 'none'">
      <ng-container *ngIf="errorMessage !== null">{{ errorMessage | translate }}</ng-container>
    </mat-error>
    <span>
      {{ 'login-form.register-label' | translate }}
      <a class="router-link" routerLink="/register">
        {{ 'login-form.register-link' | translate}}
      </a>
    </span>
    <span>
      {{ 'login-form.forgot-password-label' | translate }}
      <a class="router-link" routerLink="/login/recover-password">
        {{ 'login-form.forgot-password' | translate}}
      </a>
    </span>
    <button (click)="login()" class="submit-btn" color="accent" i18n mat-raised-button>
      <ng-container *ngIf="!loading else loadingTemplate">
        <span class="btn-label">
          {{ 'login-form.login-btn' | translate | uppercase }}
          <mat-icon>send</mat-icon>
        </span>
      </ng-container>
      <ng-template #loadingTemplate>
        <mat-spinner diameter="30"></mat-spinner>
      </ng-template>
    </button>
  </mat-card-content>
</mat-card>
