<div class="main-container">
  <ng-container *ngIf="state$ | async as state; else loading">
    <app-game-detail-page
      (showMoreReviews)="showMore($event)"
      *ngIf="state?.gameState?.game !== null; else noUsers"
      [game]="state.gameState.game"
      [isModerator]="false"
      [loadingReviews]="state.isLoadingReviews"
      [paginatedReviews]="state.initialReviews"
      [userReview]="state.userReview">
    </app-game-detail-page>
    <button
      *ngIf="!state.gameState.links.prev"
      class="left-button"
      color="accent"
      mat-flat-button
      routerLink="/for-you">
      <mat-icon>chevron_left</mat-icon>
      {{ 'recommendations.backtofeed' | translate | uppercase }}
    </button>
    <button
      (click)="changeLink(state.gameState.links.prev, false)"
      *ngIf="state.gameState.links.prev"
      class="left-button"
      color="accent"
      mat-flat-button>
      <mat-icon>chevron_left</mat-icon>
      {{ 'recommendations.prev' | translate | uppercase }}
    </button>
    <button
      (click)="changeLink(state.gameState.links.next, true)"
      *ngIf="state.gameState.links.next"
      class="right-button"
      color="accent"
      mat-flat-button>
      {{ 'recommendations.next' | translate | uppercase }}
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      *ngIf="!state.gameState.links.next && state?.gameState?.game !== null"
      class="right-button"
      color="accent"
      mat-flat-button
      routerLink="/for-you"
    >
      {{ 'recommendations.backtofeed' | translate | uppercase }}
      <mat-icon>done</mat-icon>
    </button>
  </ng-container>
  <ng-template #loading>
    <div class="centered-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <ng-template #noUsers>
    <div class="centered-container">
      <h2>{{ 'recommendations.norecommendations' | translate }}</h2>

    </div>
  </ng-template>
</div>
