.centered-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header{
  display: flex;
  justify-content: flex-start;
  align-items: baseline !important;
  margin-bottom: 20px;
}
.breadcrumb{
  width: 80%;
}
.mod-buttons{
  width: 20%;
  display: flex;
  justify-content: space-evenly ;
  align-items: baseline !important;
}
.details-container{
  width: 96%;
  margin:2%;
  display: flex;
  justify-content: space-between;
}
.genres{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}
.chip{
  background: var(--color-surface) !important; //#13112D;
  border: 1px solid var(--color-primary-variant-1) !important; //#444155
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
}
.title{
  font-size: 36px;
  font-weight: 600;
  white-space: normal;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 70%;
  padding-right: 2%;
  margin-bottom: 2%;
}
.description{
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--color-surface);
  padding: 2% !important;
  border: 1px solid var(--color-primary-variant-1);
  border-radius: 25px;
  width: 30%;
}
.stat-card{
  width: 350px;
  height: 115px;
  display: flex;
  background: var(--color-surface);
  border: 1px solid var(--color-primary-variant-1);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    flex-direction: column;
    gap: 1% !important;
    justify-content: flex-start;
    align-items: center;
    .header{
      color: white;
      font-size: 18px;
      font-weight: 600; /* semibold */
      margin-bottom: 2px;
    }
    .text{
      font-size: 24px;
      font-weight: 700; /* bold */
      color: white;
    }
    .small-number{
      font-size: 18px;
      font-weight: 400; /* regular */
    }
  }
}
img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.statistics-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96%;
  margin: 2%
}
.card-text{
  font-size: 14px;
  font-weight: 400;
}

.statistics-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;
  gap: 1% !important;
}
.review-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96%;
  height: 40%;
  margin: 2%;
}

.header{
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 10px;
}
.review-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%
}
.full-width{
  width: 100%;
}
.margin-y-2{
  margin-top: 2%;
  margin-bottom: 2%;
}
.f-row{
  display: flex;
  flex-direction: row;
}
.no-reviews{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .text{
      font-size: 20px;
      font-weight: 500;
  }
}

