<ng-container *ngIf="combinedResults$ | async as results; else loading">
  <div *ngIf="results.hasResults; else noResults" class="results-container">
    <section *ngIf="results.reviews.content.length > 0">
      <mat-card class="search-results-card">
        <mat-card-header class="title">{{ 'search.review-title' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-grid-list
            cols="2"
            gutterSize="20px"
            rowHeight="300px"
            style="display: flex;"
          >
            <mat-grid-tile *ngFor="let review of results.reviews.content" colspan="1" rowspan="1" style="">
              <app-review-card [review]="review" style="width: 100%"></app-review-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </section>
    <section
      *ngIf="results.users.content.length > 0"
    >
      <mat-card class="search-results-card">
        <mat-card-header class="title">
          {{ 'search.users-title' | translate }}
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list
            cols="3"
            gutterSize="20px"
            rowHeight="100px"
            style="display: flex;"
          >
            <mat-grid-tile
              *ngFor="let user of results.users.content"
              class="title"
              colspan="1"
              rowspan="1"
              style="width: 100%">
              <app-profile-card [user]="user" style="width: 100%"></app-profile-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </section>
    <section
      *ngIf="results.games.content.length > 0"
    >
      <mat-card class="search-results-card">
        <mat-card-header class="title">
          {{ 'search.games-title' | translate }}
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list
            cols="2"
            gutterSize="20px"
            rowHeight="400px"
            style="display: flex;"
          >
            <mat-grid-tile *ngFor="let game of results.games.content" colspan="1" rowspan="1" style="">
              <app-game-card [game]="game" style="width: 100%"></app-game-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
  <ng-template #noResults>
    <div class="container">
      <h1>{{ 'search.noresults' | translate }}</h1>
    </div>
  </ng-template>
</ng-container>
<ng-template #loading>
  <mat-spinner/>
</ng-template>
