<section class="main-container">
  <div class="form-container">
    <div>
      <app-header-banner
        *ngIf="success | async"
        [description]="'recover-password.description' | translate"
        [title]="'recover-password.title' | translate"
        icon="email"
      >

      </app-header-banner>
    </div>
    <mat-card class="card-container">
      <mat-card-header class="card-header">{{'recover-password.header' | translate }}</mat-card-header>
      <mat-card-content class="input-container">
        <form class="text-fields">
          <mat-form-field>
            <input [formControl]="email" matInput name="email" placeholder="Email" type="email"/>
            <mat-error *ngIf="email.invalid && email.touched">
              <ng-container *ngIf="email.errors?.['required']">
                {{ 'login-form.email-required' | translate }}
              </ng-container>
              <ng-container *ngIf="email.errors?.['email']">
                {{ 'login-form.email-invalid' | translate }}
              </ng-container>
              <ng-container *ngIf="email.errors?.['notFound']">
                {{ 'recover-password.email-not-found' | translate }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </form>
        <div class="spacer"></div>
        <button (click)="requestRecoverPassword()" class="submit-btn" color="accent" mat-raised-button>
          <ng-container *ngIf="!(loading | async) else loadingTemplate">
          <span class="btn-label">
            {{ 'recover-password.button' | translate | uppercase }}
            <mat-icon>send</mat-icon>
          </span>
          </ng-container>
          <ng-template #loadingTemplate>
            <mat-spinner diameter="30"></mat-spinner>
          </ng-template>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
