.card-background {
    background-color: #13112D;
    color: white;
}

.review-card-title {
    width: 90%;
}

.game-image {
    width: 100%;
    object-fit: contain;
}

.line {
    border: 1px solid #FFFFFF;
    width: 100%;
}

.rating-input {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 15px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid white;
    border-radius: 15px;
}

.number-input {
    width: 2em;
    font-size: 24px;
}

.submit-btn {
    background-color: #070A18;
    color: white;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pt-4 {
    padding-top: 4px;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chip-color {
    background-color: darkgray !important;
    color: rgba(0, 0, 0, 0.6) !important;
    vertical-align: center;
}

.card-content-container-detail {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 200px;
}

.dropdown-container {
    width: 150px !important;
}