.card-background {
    background-color: #13112D;
    color: white;
}

.review-card-title {
    width: 90%;
}
/* TODO Agregar un resizing a las imagenes para que ocupe toda la pantalla*/
.game-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.line {
    border: 1px solid #FFFFFF;
    width: 100%;
}

.rating-input {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 15px;
    height: 40px;
    width: 4.5em;
}

.total-rating {
    position: absolute;
    right: 0;
    bottom: 7px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.3; /* Firefox */
}

input::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.3; /* Firefox */
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3; /* Firefox */
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.3; /* Firefox */
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.3; /* Firefox */
}

.number-input {
    font-size: 24px !important;
}

.submit-btn {
    background-color: #070A18;
    color: white;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pt-4 {
    padding-top: 4px;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chip-color {
    background-color: darkgray !important;
    color: rgba(0, 0, 0, 0.6) !important;
    vertical-align: center;
}

.card-content-container-detail {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 200px;
}

.dropdown-container {
    width: auto !important;
    white-space: nowrap;
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /*input has OS specific font-family*/
    cursor: pointer;
}

.search-result-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px 10px 0;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #444155;
}

.search-result-container-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-result-container > h6 {
    text-overflow: ellipsis;
}

.search-result-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.search-results-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}