<div class="top-container">
    <span class="titletext" i18n>{{ 'settings.notifications' | translate}}</span>
    <div class="divider-h"></div>
    <!--
    <form:form modelAttribute="notificationsForm" action="${saveSettings}" method="post">
        <div class="f-column f-gap-2">
            <c:forEach items="${currentNotificationSettings}" var="setting">
                <label class="margin-top-1">
                    <input type="checkbox" value="${setting.key.typeName}" name="notificationSettings" ${setting.value ? "checked" : ""}/>
                    <span><spring:message code="${setting.key.nameCode}"/></span>
                </label>
            </c:forEach>
            <button class="btn margin-top-1 width-fit-content" type="submit">
                <i class="material-icons left">save</i>
                <spring:message code="notification.settings.save"/>
            </button>
        </div>
    </form:form>-->
</div>
