<mat-card class="card">
  <mat-card-header class="card-header">
    <div (click)="click.emit()" class="card-title">{{ review.title }}</div>
    <div class="author-container">
      <span>{{ 'review-card.by' | translate:{author: review.author?.username} }}</span>
      <img [ngSrc]="review.author?.avatar || ''"
           alt="{{ 'review-card.author-alt' | translate:{author: review.author?.username } }}" height="20"
           style="margin-left: 5px"
           width="20"/>
      <div class="profile-card">
        <app-profile-card
          *ngIf="review.author"
          [user]="review.author"
        />
      </div>
    </div>
    <div class="review-rating-container">
      <span class="review-rating">{{review.rating}}</span>/10
      <mat-icon>star</mat-icon>
    </div>
    <div class="review-date">
      {{review.created | date: 'medium'}}
    </div>
  </mat-card-header>
  <mat-divider/>
  <mat-card-content class="card-content">
    <p (click)="click.emit()" class="clamp card-text">
      {{ review.content }}
    </p>
    <div class="likes">
      {{ review.getPopularity() }}
      <mat-icon>thumbs_up_down</mat-icon>
    </div>
  </mat-card-content>
  <ng-container *ngIf="!hideActions">
    <mat-divider/>
    <mat-card-actions class="game-container">
      <div class="image-container">
        <img
          [ngSrc]="review.game?.links?.image || ''"
          fill="true"
          alt="{{ 'review-card.img-alt' | translate:{game: review.game?.name } }}"
          priority="high"
        />
      </div>
      <section>
        <div class="review-game">
          {{review.game?.name}}
        </div>
        <div *ngIf="review.game && review.game.genres">
          <mat-chip *ngFor="let genre of review.game.genres | slice:0:2" class="pill">
            {{genre.localized}}
        </mat-chip>
        <mat-chip *ngIf="review.game.genres!.length > 2" class="pill" routerLink="/">
          +{{review.game.genres!.length - 2}}
          </mat-chip>
        </div>
      </section>
    </mat-card-actions>
  </ng-container>
</mat-card>
