<div>
  <form [formGroup]="genresGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="genres" class="container">
      <div class="full-width f-column">
        <div class="f-row f-jc-center">
          <span class="titletext" i18n>{{
            'settings.genres.yourfavgenres' | translate
          }}</span>
        </div>
        <ng-container *ngIf="favgenres$ | async as favgenres">
          <div class="f-row f-jc-center margin-for-text wrap contained-width">
            <ng-container *ngFor="let favgenre of favgenres">
              <span class="chip-small-inverted margin-for-label">{{
                favgenre.localized
              }}</span>
            </ng-container>
            <ng-container *ngIf="favgenres.length === 0">
              <span class="subtitle" i18n>{{
                'settings.genres.nofavgames' | translate
              }}</span>
            </ng-container>
          </div>
        </ng-container>
        <div class="full-width f-row f-jc-center">
          <span class="subtitle" i18n>{{
            'settings.genres.choose' | translate
          }}</span>
        </div>

        <div class="f-row f-jc-center contained-width margin-for-text wrap">
          <ng-container *ngIf="(completeGenres$ | async)">
            <ng-container *ngFor="let genre of genres; let i = index">
              <div class="chip-small clickable">
                <mat-checkbox [formControlName]="i">
                  <span class="margin-for-genres">{{genres[i].localized}}</span>
                </mat-checkbox>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="f-row full-width margin-for-text">
      <div class="full-width f-row f-jc-center">
        <button class="submit-btn" mat-raised-button color="accent" type="submit">
          <mat-icon class="icon">save</mat-icon>
          <span class="white">{{
            'settings.notification.save' | translate }}</span>
        </button>
      </div>
    </div>
  </form>
</div>
