.chip-small-inverted {
  background: #ddd7ff;
  color: var(--color-surface);
  border: 1px solid var(--color-primary-variant-1);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
  white-space: nowrap;
  margin-right: 10px;
}

.white {
  color: white;
  margin-right: 10px;
}

.btn {
  align-items: center;
  display: flex;
  background: var(--color-accent);
}

.margin-for-genres {
  margin-right: 8px;
}
.submit-btn {
  font-size: 1.2rem;
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
}

.chip-small {
  display: flex;
  background: var(--color-surface);
  border: 1px solid var(--color-primary-variant-1);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.wrap {
  flex-wrap: wrap;
}

.margin-for-label {
  margin-bottom: 10px;
}

.left {
  float: left !important;
}

.full-width {
  width: 100% !important;
}

.contained-width {
  width: 70% !important;
  margin-left: 15% !important;
}

.margin-for-text {
  margin: 15px;
}

.subtitle {
  font-size: 1.6rem;
}
.titletext {
  font-size: 2.2rem;
  line-height: 110%;
  align-self: center;
}

.f-jc-center {
  justify-content: center;
}
.f-row {
  display: flex !important;
  flex-direction: row;
}
.f-column {
  display: flex;
  flex-direction: column;
}
