$background-color: #070A18; // Use for backgrounds
$surface-color: #13112D; // Use for cards
$primary-color: #35325E; // Main color
$secondary-color: #FFA500; // Temp
$accent-color: #D84315; // Use for buttons
/*
Add variants
$secondary-color-variant-1: #FFA500;
 */

$error-color: #FF0000;

