<?xml    version="1.0"    encoding="UTF-8"?>
<configuration>
    <property name="defaultPattern" value="%d{HH:mm:ss.SSS}	[%thread]	%-5level	%logger{36}	-	%msg%n"/>
    <appender name="warn-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>5</maxHistory>
            <fileNamePattern>logs/paw-2023a-04.warnings.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>

    <appender name="paw-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>5</maxHistory>
            <fileNamePattern>logs/paw-2023a-04.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>
    <logger name="ar.edu.itba.paw" level="INFO" additivity="false">
        <appender-ref ref="paw-appender"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="warn-appender"/>
    </root>
</configuration>