<ng-container
  *ngIf="loadingReview$ | async as loadingReview">
  <app-breadcrumbs
    *ngIf='loadingReview.review !== null && loadingReview.review.game'
    [breadcrumbs]="[
      { name: 'review.search' | translate, link: '/' },
      { name: loadingReview.review.game.name, link: null }
    ]" />
  <ng-container *ngIf='loadingReview.loading'>
    <app-loading-spinner />
  </ng-container>
  <div class="review-detail" *ngIf="loadingReview.review" [style.visibility]="loadingReview.loading ? 'hidden' : 'visible' ">
    <div class="review-section">
      <div class="main-card">
        <div class="review-card-content">
          <div class="review-header">
            <span class="title">{{ loadingReview.review.title }}</span>
            <div class="top-right">
              <div class="score">
                <span class="actual-score">{{ loadingReview.review.rating }}</span>
                <span>/10</span>
              </div>
              <ng-container *ngIf="canEdit$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.edit' | translate"
                  routerLink="/reviews/{{ loadingReview.review.id }}/edit">
                  <mat-icon fontIcon="edit" class="icons" />
                </button>
              </ng-container>
              <ng-container *ngIf="canDelete$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.delete' | translate"
                  (click)="openDeleteDialog()">
                  <mat-icon fontIcon="delete" class="icons" />
                </button>
              </ng-container>
              <ng-container *ngIf="canReport$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.report' | translate"
                  (click)="openReportDialog()">
                  <mat-icon fontIcon="flag" class="red-icon" />
                </button>
              </ng-container>
            </div>
          </div>
          <mat-divider />
          <p class="review-body">
            {{ loadingReview.review.content }}
          </p>
          <mat-divider />
          <div class="review-middle">
            <div>
              <ng-container *ngIf="loadingReview.review.getGameLengthInUnits()">
                <span>
                  {{ 'review.timeplayed' | translate }}:
                  {{
                    loadingReview.review.getGameLengthInUnits()?.units!
                      | translate
                        : {
                            number: loadingReview.review
                              .getGameLengthInUnits()
                              ?.value!.toFixed(2)
                          }
                  }}
                </span>
              </ng-container>
            </div>
            <span>
              {{ loadingReview.review.created | date: 'yyyy-MM-dd HH:mm' }}
            </span>
          </div>
          <mat-divider />
          <div class="review-footer">
            <div class="tags">
              <span> {{ 'review.tags' | translate }}: </span>
              <div class="tag-group">
                <span
                  *ngIf="loadingReview.review.platform"
                  routerLink="/"
                  [queryParams]="{ platform: loadingReview.review.platform }"
                  class="chip">
                  {{ loadingReview.review.platform }}
                </span>
                <span
                  *ngIf="loadingReview.review.difficulty"
                  routerLink="/"
                  [queryParams]="{ difficulty: loadingReview.review.difficulty }"
                  class="chip">
                  {{ DifficultyToLocale[loadingReview.review.difficulty] | translate }}
                </span>
                <span
                  *ngIf="loadingReview.review.completed"
                  routerLink="/"
                  [queryParams]="{ completed: true }"
                  class="chip">
                  {{ 'review-search.completed' | translate }}
                </span>
                <span
                  *ngIf="loadingReview.review.replayable"
                  routerLink="/"
                  [queryParams]="{ replayable: true }"
                  class="chip">
                  {{ 'review-search.replayable' | translate }}
                </span>
              </div>
            </div>
            <div class="author">
              <a routerLink="/profile/{{ loadingReview.review.authorId }}" class="name">{{
                'review-card.by'
                  | translate: { author: loadingReview.review.author?.username }
              }}</a>
              <div class="author-preferences">
                <span>{{ 'profile-card.whoprefers' | translate }}:</span>
                <div class="tag-group">
                  <ng-container
                    *ngFor="let genre of loadingReview.review.author?.preferences">
                    <span
                      routerLink="/"
                      [queryParams]="{ gameGenres: genre.id }"
                      class="chip">
                      {{ genre.localized }}
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-card">
        <div class="popularity-section">
          <div class="left">
            <span class="popularity-tag"
              >{{ 'review-filter.popularity' | translate }}:</span
            >
            <span class="popularity-value">{{ loadingReview.review.getPopularity() }}</span>
          </div>
          <div class="right">
            <ng-container *ngIf="reviewFeedback$ | async as feedback">
              <span>{{ 'review.found_useful?' | translate }}</span>
              <button
                mat-icon-button
                [disabled]="(currentUser$ | async) === null">
                <mat-icon
                  fontIcon="thumb_up"
                  [class]="
                    (currentUser$ | async) === null
                      ? 'disabled-icons'
                      : feedback.isLike()
                        ? 'highlighted-icons'
                        : 'icons'
                  " />
              </button>
              <button
                mat-icon-button
                [disabled]="(currentUser$ | async) === null">
                <mat-icon
                  fontIcon="thumb_down"
                  [class]="
                    (currentUser$ | async) === null
                      ? 'disabled-icons'
                      : feedback.isDislike()
                        ? 'highlighted-icons'
                        : 'icons'
                  " />
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="loadingReview.review.game as game">
      <div class="game-section">
        <app-game-card [game]="game" [small]="true" />
      </div>
    </ng-container>
  </div>
</ng-container>
