<ng-container *ngIf='loading'>
  <app-loading-spinner/>
</ng-container>
<ng-container
  *ngIf="loadedReview$ | async as review">
  <app-breadcrumbs
    *ngIf='review !== null && review.game'
    [breadcrumbs]="[
      { name: 'review.search' | translate, link: '/' },
      { name: review.game.name, link: null }
    ]"/>

  <div *ngIf="review" [style.visibility]="loading ? 'hidden' : 'visible' " class="review-detail">
    <div class="review-section">
      <div class="main-card">
        <div class="review-card-content">
          <div class="review-header">
            <span class="title">{{ review.title }}</span>
            <div class="top-right">
              <div class="score">
                <span class="actual-score">{{ review.rating }}</span>
                <span>/10</span>
              </div>
              <ng-container *ngIf="canEdit$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.edit' | translate"
                  routerLink="/reviews/{{ review.id }}/edit">
                  <mat-icon class="icons" fontIcon="edit"/>
                </button>
              </ng-container>
              <ng-container *ngIf="canDelete$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.delete' | translate"
                  (click)="openDeleteDialog()">
                  <mat-icon fontIcon="delete" class="icons" />
                </button>
              </ng-container>
              <ng-container *ngIf="canReport$ | async">
                <button
                  mat-icon-button
                  [matTooltip]="'review.report' | translate"
                  (click)="openReportDialog()">
                  <mat-icon fontIcon="flag" class="red-icon" />
                </button>
              </ng-container>
            </div>
          </div>
          <mat-divider />
          <p class="review-body">
            {{ review.content }}
          </p>
          <mat-divider />
          <div class="review-middle">
            <div>
              <ng-container *ngIf="review.getGameLengthInUnits()">
                <span>
                  {{ 'review.timeplayed' | translate }}:
                  {{
                  review.getGameLengthInUnits()?.units!
                    | translate
                    : {
                      number: review
                        .getGameLengthInUnits()
                        ?.value!.toFixed(2)
                    }
                  }}
                </span>
              </ng-container>
            </div>
            <span>
              {{ review.created | date: 'yyyy-MM-dd HH:mm' }}
            </span>
          </div>
          <mat-divider />
          <div class="review-footer">
            <div class="tags">
              <span> {{ 'review.tags' | translate }}: </span>
              <div class="tag-group">
                <span
                  *ngIf="review.platform"
                  routerLink="/"
                  [queryParams]="{ platform: review.platform }"
                  class="chip">
                  {{ review.platform }}
                </span>
                <span
                  *ngIf="review.difficulty"
                  routerLink="/"
                  [queryParams]="{ difficulty: review.difficulty }"
                  class="chip">
                  {{ DifficultyToLocale[review.difficulty] | translate }}
                </span>
                <span
                  *ngIf="review.completed"
                  routerLink="/"
                  [queryParams]="{ completed: true }"
                  class="chip">
                  {{ 'review-search.completed' | translate }}
                </span>
                <span
                  *ngIf="review.replayable"
                  routerLink="/"
                  [queryParams]="{ replayable: true }"
                  class="chip">
                  {{ 'review-search.replayable' | translate }}
                </span>
              </div>
            </div>
            <div class="author">
              <a class="name" routerLink="/profile/{{ review.authorId }}">{{
                'review-card.by'
                  | translate: {author: review.author?.username}
                }}</a>
              <div class="author-preferences">
                <span>{{ 'profile-card.whoprefers' | translate }}:</span>
                <div class="tag-group">
                  <ng-container
                    *ngFor="let genre of review.author?.preferences">
                    <span
                      routerLink="/"
                      [queryParams]="{ gameGenres: genre.id }"
                      class="chip">
                      {{ genre.localized }}
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-card">
        <div class="popularity-section">
          <div class="left">
            <span class="popularity-tag"
            >{{ 'review-filter.popularity' | translate }}:</span
            >
            <span class="popularity-value">{{ review.getPopularity() }}</span>
          </div>
          <div class="right">
            <ng-container *ngIf="reviewFeedback$ | async as feedback">
              <span>{{ 'review.found_useful?' | translate }}</span>
              <button
                mat-icon-button
                [disabled]="(currentUser$ | async) === null || (loadingLike$ | async) === true"
                (click)="giveReviewFeedback(review,feedback.isLike()? null : FeedbackType.LIKE)">
                <mat-icon
                  fontIcon="thumb_up"
                  [class]="
                    (currentUser$ | async) === null
                      ? 'disabled-icons'
                      : feedback.isLike()
                        ? 'highlighted-icons'
                        : 'icons'
                  " />
              </button>
              <button
                mat-icon-button
                [disabled]="(currentUser$ | async) === null || (loadingLike$ | async) === true"
                (click)="giveReviewFeedback(review, feedback.isDislike() ? null : FeedbackType.DISLIKE)">
                <mat-icon
                  fontIcon="thumb_down"
                  [class]="
                    (currentUser$ | async) === null
                      ? 'disabled-icons'
                      : feedback.isDislike()
                        ? 'highlighted-icons'
                        : 'icons'
                  " />
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="review.game as game">
      <div class="game-section">
        <app-game-card [game]="game" [small]="true"/>
      </div>
    </ng-container>
  </div>
</ng-container>
