.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  overflow: hidden;
}

.form-container {
  width: 80vw;
  max-width: 700px;
}


.card-container {
  width: 100%;
  min-width: 500px;
  background-color: var(--color-surface);
  margin-top: 20px;
}

.card-header {
  color: white;
  font-size: 2rem;
}

.input-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.text-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  font-size: 1.2rem;
  margin-top: 5px;

  padding: 10px 0 !important;
  height: 50px;
}

.btn-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.spacer {
  flex: 1;
}

.error {
  color: var(--color-error);
}

