<section class="main-container">
  <div class="form-container">
    <mat-card class="card-container">
      <mat-card-header class="card-header">{{'change-password.header' | translate }}</mat-card-header>
      <mat-card-content class="input-container">
        <form [formGroup]="changePasswordForm" class="text-fields">
          <input [value]="username"
                 autocomplete="username email"
                 name="username"
                 style="display: none"
                 type="text">
          <mat-form-field>
            <mat-label>{{ 'change-password.password' | translate }}</mat-label>

            <input [placeholder]="'change-password.password' | translate"
                   autocomplete="new-password"
                   formControlName="password"
                   matInput
                   type="password"/>
            <mat-error *ngIf="changePasswordForm.get('password')?.errors">
              <ng-container *ngIf="changePasswordForm.get('password')?.errors?.['required']">
                {{ 'login-form.password-required' | translate }}
              </ng-container>
              <ng-container *ngIf="changePasswordForm.controls['password'].errors?.['minlength']">
                {{ 'register-form.password-minlength' | translate }}
              </ng-container>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'change-password.confirmPassword' | translate }}</mat-label>

            <input [placeholder]="'change-password.confirmPassword' | translate"
                   autocomplete="new-password"
                   formControlName="confirmPassword"
                   matInput
                   type="password"/>
          </mat-form-field>
          <div
            *ngIf="changePasswordForm.hasError('passwordMismatch') && (changePasswordForm.get('password')?.dirty || changePasswordForm.get('confirmPassword')?.dirty)"
            class="error">
            {{ 'register-form.password-mismatch' | translate }}
          </div>
          <div class="spacer"></div>
          <button (click)="changePassword()" class="submit-btn" color="accent" mat-raised-button
                  [disabled]="(loading$ | async)===true">
            <ng-container *ngIf="!(loading$ | async) else loadingTemplate">
              <span class="btn-label">
                {{ 'change-password.button' | translate | uppercase }}
                <mat-icon>send</mat-icon>
              </span>
            </ng-container>
            <ng-template #loadingTemplate>
              <mat-spinner diameter="30"></mat-spinner>
            </ng-template>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>
